# GitHub documentation for ignoring files
# https://help.github.com/articles/ignoring-files/

# Dependencies
venv/
frontend/node_modules/
frontend/node_modules/.cache/
# /.pnp
# .pnp.js

# Python dependencies 
frontend/.env
__pycache__/
*.pyc
*.pyo

# Database
# db.sqlite3
# backend/media/
# db.sqlite3
# backend/db.sqlite3

# Caches and Logs 
.pytest_cache/

# Node/npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*